@use "./scss/global" as *;
@use "./scss/mixins" as *;
@use "./scss/variables" as *;


.main {
    font-family: "Josefin";
    min-height: 100vh;
    background-color: var(--main-background-color);
    background-image: var(--background-desktop-image);
    background-repeat: no-repeat;
    background-size: 100% 310px;
    background-position: top center;
    padding: 70px 20px 80px;
    @include breakpoint-down(450px) {
        background-image: var(--background-mobile-image);
        background-size: 100% 280px;
    }

    &__container {
        max-width: 550px;
        flex: 1;
        margin-inline: auto; 
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-size: 2.5rem;
        color: white;
        text-transform: uppercase;
        letter-spacing: 15px;
    }

    &__colorSwitch {
        width: 25px;
        cursor: pointer;
    }

    &__inputGrp {
        height: 55px;
        background: var(--container-background-color);
        padding: 0 var(--main-padding);
        margin-top: 40px;
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: var(--main-gap);
        border-radius: 5px;
    }

    &__circle {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid var(--border-color);
    }
    
    &__input {
        flex: 1;
        background-color: transparent;
        color: var(--main-color);
        margin-top: 5px;
        
        &::placeholder {
            color: var(--complete-color);
        }
    }

    &__taskContainer {
        background: var(--container-background-color);
        border-radius: 5px;
    }

    &__list {
        gap: 36px;
        padding: 18px 0;
    }

    &__item {
        padding: 0 var(--main-padding);
        display: flex;
        align-items: center;
        gap: var(--main-gap);
        position: relative;
        cursor: pointer;

        &.complete {
            .main__item__txt {
                color: var(--complete-color);
                text-decoration: 1px var(--complete-color) line-through;
            }

            .main__item__check {
                background-image: url(images/icon-check.svg), linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
                background-position: center 5px, center;
                background-repeat: no-repeat;
            }
        }

        &:hover {
            &:not(.complete) {
                .main__item__check {
                    border: none;
                }

                &::before {
                    opacity: 1;
                }
            }

            .main__item__delete {
                width: 18px;
                height: 18px;
            }
        }

        &::before {
            content: "";
            background-image: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
            width: 22px;
            height: 22px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 24.5px;
            transform: translateY(-50%);
            z-index: 666;
            transition: 0.3s;
            opacity: 0;

            @include breakpoint-down(500px) {
                left: 14px;
            }
        }

        &::after {
            content: "";
            height: 1px;
            width: 100%;
            position: absolute;
            left: 0;
            background-color: var(--border-color);
            bottom: -18px;
        }
        
        &__check {
            @extend .main__circle;
            flex-shrink: 0;
            z-index: 999;
            background-color: var(--container-background-color);
        }

        &__txt {
            color: var(--main-color);
            margin-top: 3px;
        }
        
        &__delete {
            width: 0;
            height: 0;
            margin-left: auto;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }
    }

    &__footer {
        font-size: 0.8rem;
        color: var(--footer-color);
        height: 45px;
        padding: 0 var(--main-padding);
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        &__filter {
            font-weight: 700;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            @include breakpoint-down(500px) {
                background-color: var(--container-background-color);
                width: 100%;
                height: 45px;
                position: absolute;
                left: 0;
                bottom: calc(-100% - 15px);
                border-radius: 5px;
            }

            label:hover {
                color: var(--hover-color);
            }

            * {
                cursor: pointer;
            }

            input:checked + label {
                color: hsl(220, 98%, 61%);
            } 
        }

        &__completed {
            cursor: pointer;

            &:hover {
                color: var(--hover-color);
            }
        }
    }
}
